<div class="button-bar">
  <span class="button-bar-title">My Photos</span>
  <%= link_to 'My Klusters', my_klusters_path, :class => "small button" %>
  <%= link_to 'Create a Kluster', new_kluster_path, :class => "small button" %>
</div>
<div>
  <% for doc in KlusterDocument.where(:user_id => current_user.id) %>
    <%= link_to "#{image_tag doc.document.url(:thumb)}".html_safe, "#{doc.document.url()}", :target => "_blank"%>
  <%end%> 
</div>
